@use "./base.scss";

// Tùy chỉnh khung đọc PDF nhúng trong trang
iframe.pdf {
  min-height: 750px;
  width: 100%;
  border: 1px solid var(--lightgray);
  border-radius: 8px;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
